h1 {
    color: mediumblue;
    text-align: left;
}

#toDoList {
    color: darkblue;
    text-align: left;
}

ul {
    color: maroon;
    text-align: left;
}

body {
    background-image: url("https://www.britanniarose.com/images/fabrics/large/1125198.jpg");
}