h1 {
    color: mediumblue;
    text-align: left;
    text-decoration-line: underline;
    letter-spacing: 5px;
    font-family: Tahoma, Verdana, sans-serif;
}

#toDoList {
    color: darkblue;
    text-align: left;
    font-family: Tahoma, Verdana, sans-serif;
    margin: 20px;
    border: 2px solid Tomato;

}

ul {
    color: maroon;
    text-align: left;
    background-color: beige;
    font-family: Tahoma, Verdana, sans-serif;
    border: 2px solid Tomato;

}

body {
    background-image: url("https://www.britanniarose.com/images/fabrics/large/1125198.jpg");
}

.todo-item{
    font-weight: bold;
    list-style: none;
    margin: 10px 0;

}

.todos{
    color:blueviolet;
}